.input {
    padding-top: 300px;
    text-align: center;
}

#popup{
    position: fixed;
    top: 40%;
    left: 30%;
    background-color:#7FDBFF;
    border-radius:5px;
    width: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#title_text{
    margin-top: 5;
    margin-bottom: 2;
    margin-left: 5;
    padding-left: 5;
}

#warning{
    margin-top: 0;
    text-align: center;
}

#close{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}